<footer class="footer">
    <p align="center">Site created by Matt Withey | n8824703 | CAB432.</p>
    <p align="center">Page Visit Counter:</p>
    <p align="center"><b>{{data.pageCount.jsonData.count}}</b></p>
</footer>