<!DOCTYPE html>
<html>
  <head>
    <title>{{data.title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{>header}}
    
    {{{body}}}
    
    {{>footer}}
    
    <!-- Cart script used for calculating the shopping list -->
    <script type="text/javascript" src="/javascripts/cart.js"></script>
  </body>
</html>
